<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mybatis.CountryMapper">

    <resultMap id="countryResultMap" type="model.Country">

        <id property="idCountry" column="idCountry" />
        <result property="name" column="name" />

    </resultMap>

    <select id="getAll" resultMap="countryResultMap">
        SELECT * FROM country;
    </select>

    <select id="getByID" parameterType="int" resultMap="countryResultMap">
        SELECT * FROM country WHERE idCountry = #{idCountry};
    </select>

    <insert id="insert" parameterType="model.Country">
        INSERT INTO country (name) VALUES (#{name});
    </insert>

    <update id="update" parameterType="model.Country">
        UPDATE country SET name = #{name} WHERE (idCountry = #{idCountry});
    </update>

    <delete id="delete" parameterType="int">
        DELETE FROM country WHERE idCountry = #{idCountry};
    </delete>

</mapper>
