<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dao.impl.PaymentDAO">

    <resultMap id="paymentResult" type="model.Payment" >

        <id property="idPayment" column="idPayment" />
        <id property="method" column="method" />

    </resultMap>

    <select id="getByID" parameterType="int" resultMap ="paymentResult">
        SELECT * FROM payment WHERE (idPayment = #{idPayment};
    </select>

    <select id="getAll" resultMap ="paymentResult">
        SELECT * FROM payment;
    </select>

    <insert id="insert" parameterType="model.Payment">
        INSERT INTO payment (method) VALUES (#{method});
    </insert>

    <update id="update" parameterType="model.Payment">
        UPDATE payment SET method = #{method} WHERE (idPayment = #{idPayment});
    </update>

    <delete id="delete" parameterType="int">
        DELETE FROM payment WHERE (idPayment = #{idPayment});
    </delete>
</mapper>